 .diya{
    background:grey;
  }
  .message{
    color:white;
    text-align:center;
  }
  .mainContainer{
    position:relative;
    margin:80px auto;
    width:60px;
    height:100px;
  }
  .flamecontainer{
    margin:80px auto;
    width: 60px;
    height: 60px;
    position:relative;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index:2;
  }
  
  .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
  }
  
  .yellow{
    left:15px; 
    width: 30px;
    height: 30px;
    background:gold;
    box-shadow: 0px 0px 9px 4px gold;
  }
  
  .orange{
    left:10px; 
    width: 40px;
    height: 40px;
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
  }
  
  .red{
    left:5px;
    width: 50px;
    height: 50px;
    background:OrangeRed;
    box-shadow: 0px 0px 5px 4px OrangeRed;
  }
  
  .white{
    left:15px; 
    bottom:-4px;
    width: 30px;
    height: 30px;
    background:white;
    box-shadow: 0px 0px 9px 4px white;
  }
  
  .circle{
    border-radius: 50%;
    position:absolute;  
  }
  
  .blue{
    width: 10px;
    height: 10px;
    left:25px;
    bottom:-25px; 
    background: SlateBlue;
    box-shadow: 0px 0px 15px 10px SlateBlue;
  }
  
  .black{
    width: 40px;
    height: 40px;
    left:10px;
    bottom:-60px;  
    background: black;
    box-shadow: 0px 0px 15px 10px black;
  }
  
  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  }
  .circleCandle{
    background-color:#922802;
    width:200px;
    height:20px;
    border-radius:50%;
    position:absolute;
    left:-70px;
    top:71px;
    z-index:-1;
  }
  .circleCandleOutside{
    background-color:#120904;
    width:208px;
    height:20px;
    border-radius:50%;
    position:absolute;
    left:-74px;
    top:62px;
    z-index:-2;
  }
  .triangle{
    width:0;
    height:0;
    border-bottom:10px solid #120904;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    position:absolute;
    top:83px;
    left:7px;
    z-index:1;
  }
  .diyaContainer{
    background:#120904;
    width:208px;
    height:50px;
    position:absolute;
    top:73px;
    left:-74px;
    z-index:-2;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
  }
  .batti{
    width:12px;
    height:30px;
    position:absolute;
    background:white;
    top:60px;
    left:22px;
  }
  .stand{
    width:50px;
    height:10px;
    background:#120904;
    position:absolute;
    top:100px;
    
  }