h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 7em;
  text-align: center;
}

body {
  background: #f9f9f9;
}

#text3d {
  font-family: helvetica;
  text-transform: uppercase;
  text-align: center;
  color: #fefefe;
  text-shadow: #e7e7e7 3px 5px 0,
               #999 4px 6px 3px,
               #ccc 8px 11px 10px;
}

#letterpress {
  background: #999;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(250,250,250,0.95);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}